@model CategoryCreateVM
@{
    ViewData["Title"] = "Create";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Slider</h6>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button class="btn btn-success">Submit!</button>
            
        </form>
    </div>
</div>

