
@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Create Slider</h6>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <div class="form-group">
                <label for="Title">Title</label>
                <input id="Title" type="text" class="form-control" name="Title">
            </div>
            <div class="form-group">
                <label for="Text">Text</label>
                <input type="text" id="Text" name="Text" class="form-control">
            </div>
            <div class="form-group">
                <label for="ImageUrl">ImageUrl</label>
                <input type="text" id="ImageUrl" name="ImageUrl" class="form-control">
            </div>
            <button class="btn btn-success">Submit!</button>
        </form>
    </div>
</div>

