/*
-----------------------------------------------------------------------
  Common CSS
-----------------------------------------------------------------------
*/

/*-------- Background Style Css --------*/
.bg-img {
  background: no-repeat center center;
  background-size: cover;

  &-tr {
    background: no-repeat top right;
  }

  &-tl {
    background: no-repeat top left;
  }

  &-br {
    background: no-repeat bottom right;
  }

  &-bl {
    background: no-repeat bottom left;
  }

  &-nr {
    background: no-repeat center center;
    background-size: contain;
  }

  &-rc {
    background: no-repeat;
    background-size: contain;
  }
}

/*-------- Container Style Css --------*/
.wrapper {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media #{$lg-device} {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  & > [class*=col-] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*-------- Gutter Style Css --------*/
.no-gutter {
  margin-right: 0;
  margin-left: 0;
  [class*=col-] {
    padding-left: 0;
    padding-right: 0;
  }
}

.row-gutter-12 {
  margin-right: -6px;
  margin-left: -6px;
  [class*=col-] {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.row-gutter-20 {
  margin-right: -10px;
  margin-left: -10px;
  [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row-gutter-45 {
  margin-right: -22.5px;
  margin-left: -22.5px;
  [class*=col-] {
    padding-left: 22.5px;
    padding-right: 22.5px;
  }
}

/*-------- Spacing Style Css --------*/
section {
  .container,
  .container-fluid {
    padding-bottom: 90px;
    padding-top: 85px;
    @media #{$lg-device} {
      padding-bottom: 40px;
      padding-top: 60px;
    }
  }
}

/*-------- Button Style Css --------*/
.btn-theme {
  background-color: $theme-color;
  border: 1px solid $theme-color;
  border-radius: 50px;
  color: $white;
  display: inline-block;
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  height: 46px;
  line-height: 25px;
  letter-spacing: 0.25px;
  padding: 9px 30px;
  text-transform: capitalize;
  @include transition(all .4s ease-out);

  &:hover {
    color: $white;
    background-color: $black-222;
    border-color: $black-222;
  }
}

.btn-link {
  color: $black-222;
  display: inline-block;
  font-size: 15px;
  font-weight: $font-weight-semi-bold;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    color: $theme-color;
    text-decoration: none;
  }
}

/*-------- Z Index Style Css --------*/
.z-index--1 {
  z-index: -1;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

/*-------- Page Header Style Css --------*/
.page-header-area {
  background-color: $theme-color4;
  padding: 51px 0 57px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &.page-shopping-cart-area {
    padding: 52px 0 66px;
  }
}

.page-header-content {
  .title {
    color: #d8d8d8;
    font-size: 40px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.1px;
    margin-bottom: 6px;
    margin-top: 0;
    @media #{$md-device} {
      font-size: 26px;
    }
    @media #{$xxs-device} {
      font-size: 20px;
    }
  }
}

.breadcrumb-area {
  margin-bottom: 0;

  .breadcrumb {
    background-color: transparent;
    display: block;
    flex-wrap: unset;
    letter-spacing: 0;
    margin-bottom: 0;
    padding: 0;

    li {
      color: #d8d8d8;
      display: inline-block;
      font-size: 14px;
      font-weight: $font-weight-light;
      letter-spacing: 0.5px;
      position: relative;
      @media #{$md-device} {
        font-size: 13px;
      }

      a {
        color: #d8d8d8;

        &:hover {
          color: $theme-color;
        }
      }
    }

    .breadcrumb-sep {
      vertical-align: 0;
      font-size: 15px;
      margin-right: 2px;
      margin-left: 6px;
    }
  }
}

/*-------- Pagination Style Css --------*/
.pagination-content-wrap {
  margin-top: 4px;
  margin-bottom: 36px;
  
  .pagination-nav {
    .pagination {
      li {
        margin-right: 9px;
        margin: 0 10px 10px;
        @media #{$xs-device} {
          margin: 0 0 10px;
        }

        a {
          color: $black;
          font-size: 16px;
          display: inline-block;
          text-align: center;
          padding: 8px;

          &.disabled {
            cursor: not-allowed;
          }

          &.active {
            color: #a4a4a4;
          }

          &:hover {
            color: $theme-color;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
      i {
        margin-right: 10px;
        margin-left: 6px;
      }
    }
  }
}

/*-------- Pagination Style Css --------*/
.swiper-nav {
  &.swiper-container {
    &.swiper-slide-gap {
      padding: 0 20px;
      padding-bottom: 10px;
      margin: 0 -20px;
      margin-bottom: -10px;
    }

    &:hover {
      .swiper-button {
        &-next {
          margin-right: 0;
          opacity: 1 !important;
        }

        &-prev{
          margin-left: 0;
          opacity: 1 !important;
        }
      }
    }
  }

  .swiper-button {
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
    border-radius: 50%;
    background-color: $white;
    color: $black-222;
    display: block;
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 44px;
    @include transform(translateY(-50%));
    @include transition(all .3s ease-out);
    z-index: 9;

    &:after {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 1;
      cursor: pointer;
      pointer-events: all;
    }

    &:hover {
      background-color: $theme-color;
      color: $white;
    }

    &-prev {
      left: 5px;
      opacity: 0 !important;
      margin-left: 30px;
      @include transition(all .3s ease-out);
    }
    &-next {
      right: 5px;
      opacity: 0 !important;
      margin-right: 30px;
      @include transition(all .3s ease-out);
    }
  }
}

/*-------- Custom Font Style Css --------*/
.font-weight-300 {
  font-weight: $font-weight-light !important;
}

.font-weight-400 {
  font-weight: $font-weight-normal !important;
}

.font-weight-600 {
  font-weight: $font-weight-semi-bold !important;
}

.font-weight-700 {
  font-weight: $font-weight-bold !important;
}

.font-weight-900 {
  font-weight: $font-weight-black !important;
}

/*-------- Custom Color Style Css --------*/
.bg-theme-color {
  background-color: $theme-color !important;
}

.bg-theme-color2 {
  background-color: $theme-color2 !important;
}

.bg-theme-color3 {
  background-color: $theme-color3 !important;
}

.bg-color-222 {
  background-color: $black-222 !important;
}

/*-------- Margin & Padding Custom Style Css --------*/
.m--0 {
  margin: 0 !important;
}
.mb--0 {
  margin-bottom: 0 !important;
}
.ml--0 {
  margin-left: 0 !important;
}
.mr--0 {
  margin-right: 0 !important;
}
.mt--0 {
  margin-top: 0 !important;
}

.p--0 {
  padding: 0 !important;
}
.pb--0 {
  padding-bottom: 0 !important;
}
.pl--0 {
  padding-left: 0 !important;
}
.pr--0 {
  padding-right: 0 !important;
}
.pt--0 {
  padding-top: 0 !important;
}

/*-------- Preloader Style Css --------*/
.preloader-deactive {
  .preloader-wrap {
    display: none;
  }
}

.preloader-wrap {
  background-color: $white;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
  overflow: hidden;

  .preloader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -50px;
    .dot {
      height: 100%;
      width: 100%;
      display: block;
      box-shadow: 0 0 20px 0 rgba($black,.15);
      -webkit-box-shadow: 0 0 20px 0 rgba($black,.15);
      -webkit-animation: la-rotateplane 1.2s infinite ease-in-out;
      animation: la-rotateplane 1.2s infinite ease-in-out;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background-color: $theme-color;
    }
  }
}

@-webkit-keyframes la-rotateplane {
  0% {
      -webkit-transform: perspective(120px)
  }

  50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes la-rotateplane {
  0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
  }
}

/*-------- Scroll To Top Style Css --------*/
.scroll-to-top {
  box-shadow: 0 0 8px 1px rgb(0 0 0 / 20%);
  bottom: -60px;
  background-color: #C4C4C4;
  color: $white;
  position: fixed;
  right: 3%;
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 0;
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  font-weight: 700;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  @include transition (all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1));
  @include rotate(45);
  z-index: 999;

  span {
    @include rotate(-45);
  }

  &:hover {
    background-color: $theme-color;
  }

  &.show {
    visibility: visible;
    opacity: 1;
    bottom: 70px;

    &:hover {
      opacity: 1;
    }
  }
}