/*
-----------------------------------------------------------------------
  Page Not Found CSS
-----------------------------------------------------------------------
*/

.page-not-found-area {}

.page-not-found {}