/*
-----------------------------------------------------------------------
    Testimonial CSS
-----------------------------------------------------------------------
*/

.testimonial-area {
  .container {
    padding-bottom: 5px;
  }

  .section-title {
    margin-bottom: 60px;
  }
}

.testimonial-item {
  .testi-inner-content {
    .testi-author {
      .testi-thumb {
        max-width: 415px;
        margin-left: auto;
        margin-right: 65px;
        padding: 0 40px;
        z-index: 9;
        @media #{$sm-device} {
          max-width: 300px;
          padding: 0;
          margin-right: 0;
        }

        img {}
      }

      &.content {
        width: 570px;
        padding: 50px 60px 0;
        position: relative;
        @media #{$lg-device} {
          width: 100%;
          padding: 0;
        }
        @media #{$xs-device} {
          margin-bottom: 40px;
        }
      }

      .testi-content {
        position: relative;
        p {
          font-size: 15px;
          line-height: 28px;
          margin-bottom: 16px;
        }
      }

      .testi-info {
        span {
          display: block;
        }

        .name {
          color: $black-222;
          font-size: 18px;
          font-weight: $font-weight-semi-bold;
        }

        .designation {
          color: $black-222;
          font-size: 15px;
          font-weight: $font-weight-normal;
        }
      }
    }
  }
}

.testimonial-thumbs {
  .swiper-button {
    &-next,
    &-prev {
      bottom: 78px;
      color: $black-222;
      display: block;
      font-weight: $font-weight-semi-bold;
      font-size: 18px;
      left: 44px;
      line-height: 1;
      height: auto;
      right: auto;
      margin: 0;
      transform: none;
      top: auto;
      text-transform: uppercase;
      width: auto;
      @include rotate(-90);
      @include transition(all .4s ease-out);

      &:hover {
        color: $theme-color;
      }

      &:after {
        display: none;
      }
    }

    &-next {
      bottom: 130px;
      left: 41px;
    }

    &-prev {}
  }
}